---
layout: layout/base.njk
---

<h3>Welcome to {{ site.title }}</h3>
<p>{{ site.description }}</p>

<p>If you are not redirected automatically, please click at the link with the langauge  of your preference:</p>
{% for lang in site.langs %}
<div>
  <a href="{{ '/' + lang.id + '/' | url }}">Page in {{lang.name}}</a>
</div>
{% endfor %}

  <!-- Redirecting to according to browser language -->
  <script>
var availableLanguages = [{% for lang in site.langs %}"{{ lang.id }}"{{ '' if loop.last else ',' }}{% endfor %}];

// source from https://gist.github.com/leipert/9586b796281faa5e27ed
var locale =
  [
    ...(window.navigator.languages || []),
    window.navigator.language,
    window.navigator.browserLanguage,
    window.navigator.userLanguage,
    window.navigator.systemLanguage
  ]
    .filter(Boolean)
    .map(language => language.substr(0, 2))
    .find(language => availableLanguages.includes(language)) || "{{ site.defaultLang }}";

let redirUrl = "{{ '/' | url }}" + locale + "/";
console.log("Redirecting to :" + redirUrl);
window.location.replace(redirUrl);
</script>
