body {
	margin:0;
	padding:0;
	width:100%;
	background:#fff;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-family: "Arial";
	font-size:18px;
	color: #777;
}
a {
	color:#369;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
hr {
	text-ali
	border: 0;
	color: #f00;
	background-color: #700;
	height: 5px;
}

#header {
	float:left;
	width:100%;
	padding:0;
	margin:0;
	
}
#header p {
	padding:.5em 15px	.2em 15px;
	margin:0;
}
#header h1  {
	padding:.2em 15px;
	margin:0;
}
#header h2  {
	padding:.2em 15px	.7em 15px;
	margin:0;
}
#topbar {
	background-color: #900000;
	height:10px;
}

#logowrap {
	float:left;
	margin:0;
	width:200px;
}
#logopad {
	padding:0px 12px .7em 12px;
}

#logoribbon {
	padding:0px 15px .7em 15px;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	background-color: #900000;
}

#headerinner {
	padding: 20px 1px	.8em 18px;
}
#headernav {
	float:right;
	width:200px;
}

.titlename{
	font-family: "Arial";
	font-size:70px;
	color: #900000;
	line-height:70%;
}
.titlefname {
}
.titlelname {
letter-spacing:11px;
}
.page-meta {
	font-size:10px;
}
#colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	background:#fff;		/* Left column background colour */
}
#colmid {
	float:left;
	width:200%;
	position:relative;
	left:200px;
	background:#fff;    	/* Centre column background colour */
}
#colright {
	float:left;
	width:100%;
	position:relative;
	left:50%;
	margin-left:-400px;
	/*border: 1px #bababa solid;*/
}
#col1wrap {
	float:right;
	width:50%;
	position:relative;
	right:100%;
}
#col1pad {
	margin:0 15px 0 415px;
	overflow:hidden;
}
#col1 {
	width:100%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:170px;
	position:relative;
	margin-left:-50%;
	left:215px;
	overflow:hidden;
}
#col3 {
	float:left;
	width:180px;
	position:relative;
	left:15px;
	overflow:hidden;
}
#footer {
	clear:both;
	float:left;
	width:100%;
	margin:0;
	text-align:center;
}
#footer p {
	
}


/* Twitter */
#twitter_update_list li {
	font-size:10px;
	list-style-type: none;
	margin-bottom: 10px;
}
#twitter_update_list span {
	color: #777;
}


.menu-side {
	font-size: 12px;
}

ul.menu-side  {
	list-style-type: none;
	margin-left: 0em
}

a.menu-side  {
	list-style-type: none;
	margin-left: .5em
}