---
layout: ysredsy/layout-redsy.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

{{ content | safe }}

<hr />
<h1>Posts</h1>

{% for post in posts %}
  <article>
    <h3>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
    {{ post.date | formatDate("DD", locale) }}
  </article>
{% endfor %}
