<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" class="no-js">
<!--
	based on
	http://matthewjamestaylor.com/blog/ultimate-3-column-holy-grail-pixels.htm
-->
<head>
	<title>{{title}}</title>
	<meta name="robots" content="index, follow" />
	<link rel="icon" type="image/png" href="{{ site.faviconUrl | url  }}">
	<link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | url }}" media="all" />
	<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
	<script src="js/modernizr.custom.66976.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31090779-1']);
  _gaq.push(['_setDomainName', 'youngsukahn.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>

<div id="header">
	{# <!-- Header {{ --> #}
	<div id="topbar"></div>

	<div id="logowrap" >
		<div id="logopad" >
			<div id="logoribbon" ><center><a href="{{ site.rootPath }}/">
				<img src="{{ site.logoUrl | url}}" width="110px" title="My name in Korean" alt="YSAP" /></a>
			</center></div>
		</div>
	</div>
	<div id="headerinner" >
		<div id="headernav" >
			{# <!-- TOP MENU {{ --> #}
			{% for menuItem in site[locale].menu.top %}
				<li class="mr-3 py-2 lg:py-0" title="{{menuItem.tooltip}}">
                <a href="{{menuItem.href | url}}" class="inline-block py-2 px-2 text-gray-900 font-bold no-underline hover:text-indigo-600">
                  <i class="{{menuItem.icon}} fill-current "></i>{{menuItem.title}}</a>
              	</li>
			{% endfor %}
			{# <!-- }} TOP MENU --> #}

		</div>
		<div id="titlename">
			<div nowrap="nowrap" class="titlename titlefname"><b>{{ site.titleMain }}</b><br/></div>
			<div nowrap="nowrap" class="titlename titlelname">{{ site.titleSub }}</div>
		</div>

	</div>

	{# <!-- Header }} --> #}
</div>
<div id="colmask">
	<div id="colmid">
		<div id="colright">
			<div id="col1wrap">
				<div id="col1pad">
					<div id="col1">
						{# <!-- Column 1 (center) {{ --> #}
{{ content | safe }}
					<p class="page-meta">Published on &nbsp;<span>{{ date }} </span></p>
						{# <!-- Column 1 (center) }} --> #}
					</div>
				</div>

			</div>
			<div id="col2">
				{# <!-- Column 2 (left) {{ --> #}
				<img src="{{ '/images/ysahn-jump.jpg' | url}}" width="170px" />
				<ul class="menu-side">
					{% for menuItem in site[locale].menu.side %}
					<li><i class="{{menuItem.icon}} fill-current"></i><a href="{{menuItem.href | url}}">{{menuItem.title}}</a></li>
					{% endfor %}
				</ul>
				{# <!-- Column 2 (left) }} --> #}
			</div>
			<div id="col3">
				{# <!-- Column 3 (right) {{ --> #}

				<h3>Tweets</h3>
<a class="twitter-timeline" data-dnt=true href="https://twitter.com/seednia" data-widget-id="287710253880057856">Tweets by @seednia</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				{# <!-- Column 3 (right) }} --> #}
			</div>
		</div>
	</div>
</div>
<div id="footer">
	{# <!-- Footer {{ --> #}
	<hr />
	<i>This website's <a href="{{ repoUrl }}">git repo</a></i>
	{# <!-- Footer }} --> #}
</div>

</body>
</html>
